body{
    margin: 0;
    padding: 0;
}
.far{
	font-family: "Font Awesome 5 Free";
}
header{
    width: 100%;
    line-height: 64px;
    height: 64px;
    padding-right: 10%;
    padding-left: 10%;
    color: white;
    box-shadow: 0 0px 8px 0 black;
    box-sizing: border-box;
}